:root {
    --primary-color: #163055;
    --secondary-color: #92CCCE;
    --tertiary-color: #31343D;
    --quaternary-color: #EEEEF7;
}
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/* Header Style Start */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    padding: 0 0 0 0;
    background: var(--tertiary-color);
    text-align: center;
}

header h1 {
    font-weight: bold;
    display: flex;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    margin: 15px 0 15px 0;
    font-size: 55px;
    padding-left: 60px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}
  
header nav {
    margin: 30px 20px 0 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 15px 15px 10px 15px;
    font-size: 1.55vw;
    font-weight: lighter;
    color: var(--secondary-color);
    margin: 0 10px 0 10px;
    border-bottom-style: solid;
    border-bottom-color: var(--secondary-color);
}
  
header nav ul li a:hover {
    color: var(--quaternary-color);
    text-shadow: none;
}
/* Header Style End */

/* Hero Style Start */
.hero {
    background-image: url('../images/Hero\ pic.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: scroll;
    background-position: 80%;
  }

.hero h2 {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    margin: 275px 35px 25px 1350px;
    padding: 15px 15px 15px 15px;
    font-size: 36px;
}
/* Hero Style End */

/* About Me Section Style Start */
.eric {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px 25px 50px;
    margin: 0 0 50px 0;
}

.eric h2 {
    font-size: 55px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 200px 10px 15px;
}

.eric p {
    font-size: 20px;
    padding: 25px 0 10px 0;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: var(--primary-color);
    text-indent: 25px;
}
/* About Me Section Style End */

/* Work Section Style Start */
.examples {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px 25px 50px;
    margin: 0 0 50px 0;
}

.examples h2 {
    font-size: 55px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 200px 10px 15px;
}

.examples p {
    margin: auto;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: var(--primary-color);
    padding: 10px 0 10px 0;
}

.examples img {
    border: 5px solid;
    border-color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.examples #run-buddy {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 55%;
    height: 55%;
}

.examples #run-buddy:hover {
    opacity: 40%;
}

.examples #horiseon {
    display: block;
    margin: auto;
    width: 25%;
    height: 25%;
}

.examples #horiseon:hover {
    opacity: 40%;
}

/* Work Section Style End */

/* Contact Section Style Start */
.reach-out {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px 150px 50px;
    padding: 25px 0 0 0;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: var(--primary-color);
}

.reach-out h2 {
    font-size: 55px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px 10px 15px;
}

.reach-out ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.reach-out ul li a {
    padding: 0 55px 0 55px;
    font-size: 1.55vw;
    font-weight: lighter;
    color: var(--secondary-color);
    margin: 0 10px 0 10px;
}
/* Contact Section Style End */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1590px) {
    .hero h2 {
        position: relative;
        margin: auto;
    }
}

@media screen and (max-width: 980px) {
    header {
        position: relative;
    }

    .hero h2 {
        position: relative;
        font-size: 40px;
        margin: auto;
    }

    .eric h2 {
        font-size: 40px;
    }

    .examples h2 {
        font-size: 40px;
    }

    .reach-out h2 {
        font-size: 40px;
    }

    .reach-out p ul li {
        position: relative;
        margin: auto;
    }
}